// Nova Tool CSS
$multiselect-primary-color: var(--primary);
$multiselect-primary-color-dark: var(--primary-dark);
$mulitselect-secondary-hover-color: #bacad6;
$mulitselect-secondary-hover-color-10: #b3b9bf;
$mulitselect-secondary-hover-color-25: #3c4b5f;
$multiselect-radius: .5rem;
$multiselect-placeholder-color: #7c858e;

@import "./multiselect";
@import "./colors";

.nova-flexible-content-sortable-ghost {
  opacity: 0.5;
}

.nova-flexible-content-sortable-drag {
  background-color: rgba(var(--colors-gray-100),var(--tw-bg-opacity));
  border-radius: 10px;
}

.dark .nova-flexible-content-sortable-drag {
  background-color: rgba(var(--colors-gray-900),var(--tw-bg-opacity));
}

.nova-flexible-add-button-disabled {
  cursor: not-allowed;
}

.nova-flexible-add-button.is-readonly,
.nova-flexible-add-button.is-readonly:hover,
.nova-flexible-add-button.is-readonly:focus,
.nova-flexible-add-button.is-readonly:active,
.nova-flexible-add-button-disabled .nova-flexible-add-button,
.nova-flexible-add-button-disabled .nova-flexible-add-button:hover,
.nova-flexible-add-button-disabled .nova-flexible-add-button:focus,
.nova-flexible-add-button-disabled .nova-flexible-add-button:active {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
  filter: none !important;
  transform: none !important;
  pointer-events: none;
}
